.paper {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .avatar {
    margin: 8px;
    background-color: #f48fb1;
  }
  
  .form {
    width: 100%;
    margin-top: 8px;
  }
  
  .submit {
    margin: 24px 0px 16px;
  }
  
  
  